<div class="row animated fadeIn fast">
    <div class="col-4">
        <div class="card">
            <div class="card-body animated fadeIn fast" >
                <h3>Usuarios</h3>
                <div class="alert alert-info" role="alert" *ngIf="usuarios.length == 0">
                  <p class="mb-0">No hay usuarios</p>
                </div>
                <div class="table-responsive" *ngIf="usuarios.length > 0">
                    <table class="table animated fadeIn fast">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Nombre</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tempUsuario of usuarios">
                                <td>
                                    <img [src]="tempUsuario.img | imagen:'usuarios'" alt="tempUsuario.nombre" class="avatar">
                                </td>
                                <td>{{tempUsuario.nombre}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body animated fadeIn fast">
                <h3>Médicos</h3>
                <div class="alert alert-info" role="alert" *ngIf="medicos.length == 0">
                  <p class="mb-0">No hay médicos</p>
                </div>
                <div class="table-responsive" *ngIf="medicos.length > 0">
                    <table class="table animated fadeIn fast">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Nombre</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tempMedico of medicos">
                                <td>
                                    <img [src]="tempMedico.img | imagen:'medicos'" alt="tempMedico.nombre" class="avatar">
                                </td>
                                <td>{{tempMedico.nombre}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body animated fadeIn fast">
                <h3>Hospitales</h3>
                <div class="alert alert-info" role="alert" *ngIf="hospitales.length == 0">
                  <p class="mb-0">No hay hospitales</p>
                </div>
                <div class="table-responsive" *ngIf="hospitales.length > 0">
                    <table class="table animated fadeIn fast">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Nombre</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tempHospital of hospitales">
                                <td>
                                    <img [src]="tempHospital.img | imagen:'hospitales'" alt="tempHospital.nombre" class="avatar">
                                </td>
                                <td>{{tempHospital.nombre}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>