<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text" class="form-control" placeholder="Buscar Hospital" #txtTermino
                (keyup)="buscar(txtTermino.value)">
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>

<div class="row" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Hospitales: ({{hospitales.length}})</h4>
                        <h6 class="card-subtitle">Hospitales registrados en el sistema</h6>
                    </div>
                    <div class="col">
                        <div class="text-right">
                            <button class="btn btn-primary" (click)="abrirSweetModal()">
                                <i class="fa fa-hospital-o">Agregar Hospital</i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w100">Imagen</th>
                                <th>Nombre</th>
                                <th class="text-nowrap w100">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tempHospital of hospitales" class="text-center">
                                <td>
                                    <img [src]="tempHospital.img | imagen:'hospitales'" class="avatar cursor"
                                        [alt]="tempHospital.nombre" (click)="abrirModal(tempHospital)">
                                </td>
                                <td>
                                    <input type="text" class="form-control" placeholder="Nombre del Hospital"
                                        [(ngModel)]="tempHospital.nombre">
                                </td>
                                <td class="text-nowrap text-center">
                                    <a data-toggle="tooltip" data-original-title="Guardar" (click)="guardarCambios(tempHospital)"> 
                                        <i class="fa fa-save text-inverse m-r-10 cursor"></i>
                                    </a>
                                    <a data-toggle="tooltip" data-original-title="Borrar" (click)="eliminarHospital(tempHospital)"> <i
                                            class="fa fa-close text-danger cursor"></i> </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- <button class="btn btn-secondary">Atrás</button>
                &nbsp;
                <button class="btn btn-secondary">Siguiente</button> -->
            </div>
        </div>
    </div>
</div>